.homepage-jumbotron {
  height: 1080px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.a-img{
  position: absolute;
  left: 0;
  width: 40%;
  max-height: 1000px;
}
.payment-option{
  width: 40px;
}
