.lead-section{
  position: absolute;
  top: calc(55% - 272px / 2);
}
@include media-breakpoint-down(lg){
  .lead-section{
    right: 2%;
  }
}
.contact-section{
  margin-left: 0;
}
@include media-breakpoint-up(sm){
  .contact-section{
    margin-left: 15%;
  }
}
