{% extends 'baseNoFooter.html.twig' %}

{% block body %}
    <div class="container with-menu">
        <h2 class="pb-5">Zásady používání souborů cookie</h2>

        <h3>Co jsou cookies?</h3>
        <p>Jde o malé datové soubory, které jsou nezbytné pro některé funkce webových stránek. Díky cookies si stránky
            mohou
            také zapamatovat různé nastavení, jako je jazyk, font a další možnosti, které jste si pro zobrazení stránek
            sami
            zvolili. To je důvod, proč cookies umísťujeme na váš počítač. Totéž dělá většina velkých internetových
            stránek a
            poskytovatelů.</p>

        <h3>Na co využíváme cookies na tomto webu?</h3>
        <p>Cookies lze podle trvanlivosti rozdělit na dva základní druhy</p>

        <p>Krátkodobé (session cookie) – zůstávají ve Vašem prohlížeči do zavření Vašeho prohlížeče, poté se
            vymažou.<br>
            Dlouhodobé (persistent cookie) – zůstávají uloženy v prohlížeči dlouhou dobu (záleží na nastavení Vašeho
            prohlížeče a nastavení cookie) nebo dokud je ručně neodstraníte.
        </p>

        <h3>Na našem webu používáme tyto cookies:</h3>
        <p>
            Technické (krátkodobé) – jsou nezbytné pro zajištění elementární funkce stránek. <br>
            Google Analytics (dlouhodobé) - abychom Vám mohli stránky lépe přizpůsobit, využíváme pro měření anonymních
            dat
            o chování uživatelů nástroj Google Analytics. <br>
            AdWords (dlouhodobé) – generované reklamním systémem. Pomocí těchto cookies můžeme vyhodnocovat efektivitu
            prodejních kanálů. <br>
            Sklik (dlouhodobé) – generované reklamním systémem. Pomocí těchto cookies můžeme vyhodnocovat efektivitu
            prodejních kanálů. <br>
            Facebook (krátkodobé i dlouhodobé) – jsou používány widgetem sociální sítě Facebook, který je vložen na
            těchto
            stránkách. <br>
            Twitter (dlouhodobé) – jsou používány widgetem sociální sítě Twitter, který je vložen na těchto stránkách.
        </p>

        <p>
            Cookies nikdy nepoužíváme k tomu, abychom vás osobně identifikovali a nikdy do nich neumisťujeme citlivá
            nebo
            osobní data.
        </p>

        <p>Jak lze upravit využívání cookies</p>

        <p>Všechny cookies, které už na vašem počítači jsou, můžete vymazat. Většina prohlížečů také nabízí možnost
            blokace
            umísťování cookies na Vás počítač, v takovém případě ale nebudete moci využít všechny naše online služby.
            Detailní informace o nastavení ukládání souborů cookies ve Vašem prohlížeči najdete na stránkách
            poskytovatele
            konkrétního prohlížeče. Pro nejrozšířenější prohlížeče to jsou:</p>

        <ul style="list-style-type: square">
            <li>Chrome</li>
            <li>Firefox</li>
            <li>Internet Explorer</li>
            <li>Opera</li>
            <li>Android</li>
        </ul>

        <p>Podrobnosti najdete na stránkách AboutCookies.org.</p>

        <p>Využití Google Analytics</p>

        <p>Tato stránka používá službu Google Analytics, poskytovanou společností Google, Inc. (dále jen "Google").
            Služba
            Google Analytics používá souborů cookies. Informace o užívání stránky spolu s obsahem souboru cookie bude
            společností Google přenesen a uložen na serverech ve Spojených státech. Google bude užívat těchto informací
            pro
            účely vyhodnocování užívání stránky a vytváření zpráv o její aktivitě, určených pro její provozovatele, a
            pro
            poskytování dalších služeb týkajících se činností na stránce a užívání internetu vůbec. Google může také
            poskytnout tyto informace třetím osobám, bude-li to požadováno zákonem nebo budu-li takovéto třetí osoby
            zpracovávat tyto informace pro Google.
        </p>
        <p>Kvůli ochraně Vašeho soukromí jsme upravili službu Google Analytics tak, aby nezaznamenávala Vaši IP
            adresu.</p>


        <p>Služba Google Analytics je rozšířena o související reklamní funkce poskytované společností Google, a to:</p>
        <ul style="list-style-type: square">
            <li>přehledy zobrazení v reklamní síti Google</li>
            <li>remarketing (zobrazování reklam v obsahové síti na základě zhlédnutých produktů)</li>
            <li>rozšířené demografické přehledy (reportování anonymních demografických dat)</li>
        </ul>

        <p>Více informací o zpracování a využití dat najdete ve smluvních podmínkách společnosti Google.</p>

        <p>Jak zakázat sledování Google Analytics</p>

        <p>Chcete-li zablokovat odesílání anonymních statistik pomocí nástroje Google Analytics, můžete k tomu využít
            plugin
            poskytovaný společností Google. Tento plugin je třeba stáhnout a nainstalovat do Vašeho prohlížeče.</p>
    </div>
{% endblock %}
