{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid with-menu">
        <div class="row">
            <div class="col-xl-5 offset-xl-1">
                <div class="pb-5">
                    <a class="text-grey-2 d-flex align-items-center my-3" href="{{ path('homepage') }}"><img
                                class="mr-2"
                                src="/images/svg/ico_arrow_backward.svg"
                                alt="arrow">zpět
                        na
                        Úvod</a>
                </div>
                <div class="contact-section d-flex align-items-start py-3">
                    <img src="/images/svg/ico_pin.svg" class="mr-2" alt="clock">
                    <div>
                        <h2 class="text-primary fs-22 pt-1">NAJDETE NÁS NA ul. 17. listopadu</h2>
                        <div class="fs-18 py-2 contact-section-text">
                            <div class="my-1">17. listopadu 409, 530 02</div>
                            <div class="my-1">Pardubice - Zelené Předměstí</div>
                            <div class="my-1 d-flex align-items-center"><img src="/images/svg/ico_bell.svg" class="mr-2"
                                                                             alt="bell">+420 466 511 693
                            </div>
                            <div class="my-1 d-flex align-items-center"><img src="/images/svg/ico_letter.svg"
                                                                             class="mr-2" alt="letter">zdravpo.pardubice@tiscali.cz
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-section d-flex align-items-start py-3">
                    <img src="/images/svg/ico_bus.svg" class="mr-2" alt="bus">
                    <div>
                        <h2 class="text-primary fs-22 pt-1">NEJBLIŽŠÍ
                            ZASTÁVKY AUTOBUSŮ A TROLEJBUSŮ</h2>
                        <div class="fs-18 py-2 contact-section-text">
                            <div class="my-1 font-weight-bold">MASARYKOVO NÁMĚSTÍ</div>
                            <div class="my-1">Č. 1, 5, 7, 14, 2, 3, 6, 8, 9, 1, 12, 13, 16, 17, 21, 22, 23, 28, 33, 88</div>
                            <div class="my-1 font-weight-bold">17. LISTOPADU</div>
                            <div class="my-1">č. 1, 5, 7, 14, 18, 24, 27, 15</div>
                        </div>
                    </div>
                </div>
                <div class="contact-section d-flex align-items-start py-3">
                    <img src="/images/svg/ico_parking.svg" class="mr-2"
                         alt="parking">
                    <div>
                        <h2 class="text-primary fs-22 pt-1">NEJBLIŽŠÍ PARKOVIŠTĚ</h2>
                        <div class="fs-18 py-2 contact-section-text">
                            <div class="my-1 font-weight-bold">PODÉLNÉ PARKOVÁNÍ U HLAVNÍ SILNICE</div>
                            <div class="my-1">30 min. / ZDARMA s označeným časem zaparkování</div>
                            <div class="my-1 font-weight-bold">PARKOVIŠTĚ V ATRIUM PALÁC PARDUBICE</div>
                            <div class="my-1">60 min. / ZDARMA</div>
                            <div class="my-1 font-weight-bold">PARKOVIŠTĚ PARKING POINT 17. LISTOPADU</div>
                            <div class="my-1">30 min. / 7 Kč</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 pl-0 pl-xl-2 pr-0">
                <div style="height: 922px" id="map"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function initMap() {
            var mapLatLng = {
                lat: 50.035188,
                lng: 15.770211
            };
            var marker = {
                lat: 50.035488,
                lng: 15.769311
            };

            var map = new google.maps.Map(document.getElementById('map'), {
                center: mapLatLng,
                zoom: 19
            });
            var pce = new google.maps.Marker({
                position: mapLatLng,
                map: map,
                title: 'Tady nás najdete!'
            });

        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAymDu1wdo2WwOcrXsMOgVyccrzoZIP9QQ&callback=initMap">
    </script>
{% endblock %}
