<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Zdravpo.cz{% endblock %}</title>
    <link rel="stylesheet" href="/dist/index.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>

{% include 'menu.html.twig' %}
{% block body %}{% endblock %}

<script src="/dist/index.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
