<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Zdravpo.cz{% endblock %}</title>
    <link rel="stylesheet" href="/dist/index.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% include 'menu.html.twig' %}
{% block body %}{% endblock %}
{% include 'footer.html.twig' %}
{% include 'webfix_footer.html.twig' %}
{% include 'cookies.html.twig' %}
<script src="/dist/index.js"></script>
{% block javascripts %}{% endblock %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157795631-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-157795631-1');
</script>
</body>
</html>
