<div class="container-fluid bg-light">
    <footer class="py-4">
        <div class="row">
            <div class="my-2 col-xl-2 offset-xl-1">
                <div class="row">
                    <div class="col-sm-6 col-xl-12">
                        <img src="/images/svg/Logo_zdravpo.svg" class="mw-100" width="230px" alt="logo">
                        <div class="fs-22 text-primary text-uppercase py-2">
                            <div class="my-1">ZDRAVOTNICKÉ POTŘEBY</div>
                            <div class="my-1">ZDRAVPO PARDUBICE</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-12">
                        <div class="fs-18 py-2">
                            <div class="my-1">17. listopadu 409, 530 02</div>
                            <div class="my-1">Pardubice - Zelené Předměstí</div>
                            <div class="my-1 d-flex align-items-center"><img src="/images/svg/ico_bell.svg" class="mr-2"
                                                                             alt="bell">+420 466 511 693
                            </div>
                            <div class="my-1 d-flex align-items-center"><img src="/images/svg/ico_letter.svg"
                                                                             class="mr-2" alt="letter">zdravpo.pardubice@tiscali.cz
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-2 col-sm-6 col-xl-2">
                <div class="d-flex align-items-center pb-3">
                    <img src="/images/svg/ico_clock.svg" class="mr-2" alt="clock">
                    <div class="fs-22 text-primary text-uppercase">
                        OTEVÍRACÍ DOBA
                    </div>
                </div>
                <div class="fs-22 row">
                    <div class="col-5">Pondělí</div>
                    <div class="col-5">{{openHours.po}}</div>
                    <div class="col-5">Úterý</div>
                    <div class="col-5">{{openHours.ut}}</div>
                    <div class="col-5">Středa</div>
                    <div class="col-5">{{openHours.st}}</div>
                    <div class="col-5">Čtvrtek</div>
                    <div class="col-5">{{openHours.ct}}</div>
                    <div class="col-5">Pátek</div>
                    <div class="col-5">{{openHours.pa}}</div>
                    <div class="col-5">Sobota</div>
                    <div class="col-5">{{openHours.so}}</div>
                    <div class="col-5">Neděle</div>
                    <div class="col-5">{{openHours.ne}}</div>
                </div>
            </div>
            <div class="my-2 col-sm-6 col-xl-2">
                <div class="m-auto">
                    <div class="d-flex align-items-center pb-3">
                        <img src="/images/svg/ico_pin.svg" class="mr-2" alt="clock">
                        <div class="fs-22 text-primary text-uppercase">
                            kudy k nám
                        </div>
                    </div>
                    <a href="{{ path('contact') }}">
                        <img class="mw-100" src="/images/jpg/map_prodejna.jpg" alt="map">
                    </a>
                </div>
            </div>
            <div class="my-2 col-sm-6 col-xl-2">
                <div class="d-flex align-items-center pb-3">
                    <img src="/images/svg/ico_house.svg" class="mr-2" alt="clock">
                    <div class="fs-22 text-primary text-uppercase">
                        naše prodejna
                    </div>
                </div>
                <img class="mw-100" src="/images/jpg/prodejna_footer.jpg" alt="prodejna">
            </div>
            <div class="my-2 col-sm-6 col-xl-2">
                <div class="d-flex align-items-center pb-3">
                    <img src="/images/svg/ico_card.svg" class="mr-2" alt="clock">
                    <div class="fs-22 text-primary text-uppercase">
                        přijímáme platby
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <img class="payment-option" src="/images/svg/Platby/Zdravpo_platby__hotovost.svg" alt="cash">
                    </div>
                    <div class="col-4">
                        <img class="payment-option" src="/images/svg/Platby/Zdravpo_platby__visa.svg" alt="cash">
                    </div>
                    <div class="col-4">
                        <img class="payment-option" src="/images/svg/Platby/Zdravpo_platby__mastercard.svg" alt="cash">
                    </div>
                    <div class="col-4">
                        <img class="payment-option" src="/images/svg/Platby/Zdravpo_platby__edenred.svg" alt="cash">
                    </div>
                    <div class="col-4">
                        <img class="payment-option" src="/images/svg/Platby/Zdravpo_platby__ticket.svg" alt="cash">
                    </div>
                    <div class="col-4">
                        <img class="payment-option" src="/images/svg/Platby/Zdravpo_platby__ticket_benefits.svg" alt="cash">
                    </div>
                    <div class="col-4">
                        <img class="payment-option" src="/images/svg/Platby/Zdravpo_platby__cadhoc.svg" alt="cash">
                    </div>
                    <div class="col-4">
                        <img class="payment-option" src="/images/svg/Platby/Zdravpo_platby__unisek.svg" alt="cash">
                    </div>
                    <div class="col-4">
                        <img class="payment-option" src="/images/svg/Platby/Zdravpo_platby__unisek+.svg" alt="cash">
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
