{% set route = app.request.get('_route') %}
<div class="fixed-top main-nav bg-light" id="main-nav">
    <nav class="navbar-content-margin navbar navbar-expand-lg navbar-light pb-0">
        <div class="d-flex align-items-center">
            <a href="/" class=" navbar-brand py-4">
                <img class="navbar-logo" src="/images/svg/Logo_zdravpo.svg" alt="Logo">
            </a>
            <div class="d-none d-md-flex d-lg-none d-xl-flex">
                <div class="navbar-separator text-primary text-uppercase mr-2"></div>
                <div class="fs-22 text-primary">
                    <div>ZDRAVOTNICKÉ POTŘEBY</div>
                    <div>ZDRAVPO PARDUBICE</div>
                </div>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-xl-flex align-self-stretch" id="navbar">
            <ul class="navbar nav ml-auto align-items-center flex-column flex-lg-row p-0">
                <li class="nav-item {{ 'homepage' in route ? 'active' }}">
                    <a href="{{ path('homepage') }}" class="nav-link text-primary text-uppercase">Úvod</a>
                </li>
                <li class="nav-item {{ 'about' in route ? 'active' }}">
                    <a href="{{ path('about') }}" class="nav-link text-primary text-uppercase">O firmě</a>
                </li>
                <li class="nav-item {{ 'catalog' in route ? 'active' }}">
                    <a href="{{ path('catalog') }}" class="nav-link text-primary text-uppercase">produkty</a>
                </li>
                <li class="nav-item {{ 'contact' in route ? 'active' }}">
                    <a href="{{ path('contact') }}" class="nav-link text-primary text-uppercase">kontakt</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
