{% extends "@FOSUser/layout.html.twig" %}


  {% block fos_user_content %}
      <div class="text-center">
          <h1 class="text-uppercase text-dark pb-2 font-weight-light">Přihlášení</h1>
      </div>
      <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
          {% if csrf_token %}
              <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
          {% endif %}
          <div class="form-group">
              <div class="col-xs-12 login-input">
                  <input placeholder="Uživatelské jméno"
                         class="form-control" type="text" id="username" name="_username"
                         value="{{ last_username }}" required="required" autocomplete="username"/>
              </div>
          </div>
          <div class="form-group">
              <div class="col-xs-12 login-input">
                  <input
                          class="form-control" placeholder="Heslo" type="password" id="password"
                          name="_password"
                          required="required"
                          autocomplete="current-password"/>
              </div>
          </div>

          <div class="form-group text-center m-t-40">
              <div class="col-xs-12">
                  <button class="btn btn-login rounded-0 btn-lg btn-block text-uppercase waves-effect waves-light"
                          type="submit">přihlásit
                  </button>
              </div>
          </div>

          <div class="pt-4">
              <div class="text-center">
                  <a href="{{ path('fos_user_resetting_request') }}" class="text-dark text-underline">
                      <u>Zapomněli jste heslo?</u>
                  </a>
              </div>
              <div class="col-sm-12 text-center font-italic">
                  Tvoříme weby s radostí www.webfix.cz
              </div>
              <div class="col-sm-12 text-center fs-12 text-light">
                  <a href="https://webfix.cz/" target="_blank"><img src="/adminLogin/webfixLogo.svg"
                                                                    alt="webfixLogo"></a>
              </div>
          </div>
      </form>

  {% endblock fos_user_content %}

