{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid with-menu mb-5">
        <div class="row">
            <div class="offset-sm-1 col-11">
                <div class="py-2 d-flex">
                    <a class="text-grey-2 d-flex align-items-center my-3" href="{{ path('homepage') }}"><img
                                class="mr-sm-2"
                                src="/images/svg/ico_arrow_backward.svg"
                                alt="arrow">
                        <div class="d-none d-sm-block">zpět
                            na
                            Úvod
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-10 col-xl-4 offset-0 offset-sm-1 mb-5 p-0">
                {#{% for category in categories %}#}
                    {#<a href="{{ path('category', {'categoryUrl' : category.url}) }}" class="btn btn-primary rounded-0 catalog-item text-left">#}
                        {#<div class="catalog-item-text text-uppercase">{{ category.name }}</div>#}
                        {#<div class="ml-auto"><img src="/images/svg/ico_plus.svg" alt="plus"></div>#}
                    {#</a>#}
                    {#<div class="catalog-separator"></div>#}
                {#{% endfor %}#}
                {% for category in categories %}
                    <a class="btn btn-primary rounded-0 catalog-item text-left collapsed"
                       data-toggle="collapse" href="#{{ category.url }}" role="button">
                        <div class="catalog-item-text text-uppercase">{{ category.name }}</div>
                        <div class="ml-auto"><img src="/images/svg/ico_plus.svg" alt="plus"></div>
                    </a>
                    <div class="catalog-separator"></div>
                    <div class="collapse category-collapse position-absolute h-100 bg-primary" id="{{ category.url }}">
                        <div class="">
                            <a class="btn btn-primary active rounded-0 catalog-item text-left"
                               data-toggle="collapse" href="#" role="button">
                                <div class="catalog-item-text text-uppercase">{{ category.name }}</div>
                                <div class="ml-auto"><img src="/images/svg/ico_minus.svg" alt="minus"></div>
                            </a>
                            <div class="catalog-separator"></div>
                                {% for subcategory in category.subCategories %}
                                    <a href="{{ path('subcategory', {'categoryUrl' : category.url, 'subCategoryUrl': subcategory.url}) }}"
                                       class="btn btn-primary rounded-0 catalog-item text-left">
                                        <div class="catalog-item-text ml-3">{{subcategory.name}}</div>
                                    </a>
                                    <div class="catalog-separator"></div>
                                {% endfor %}
                            <a href="{{ path('catalog') }}"
                               class="btn btn-grey-3 rounded-0 catalog-item text-left back-link">
                                <div class="ml-2 mr-3"><img src="/images/svg/ico_arrow_backward_green.svg" alt="plus">
                                </div>
                                <div class="catalog-item-text text-primary text-uppercase">Zpět na výpis</div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-xl-5 col-sm-10 offset-sm-1">
                <h1 class="fs-35 text-primary">
                    Sortiment vybraných značek,<br>
                    který získáte v naší prodejně.
                </h1>
                <div class="text-grey-2">
                    Prodejna zdravotnických potřeb ZDRAVPO - PARDUBICE s.r.o. působí především v regionu Pardubický kraj
                    a své výrobky dodává obyvatelům v městech a obcích Pardubice, Chrudim, Přelouč.
                </div>
            </div>
        </div>

    </div>
{% endblock %}
