{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid with-menu mb-5">
        <div class="row">
            <div class="offset-sm-1 col-11">
                <div class="py-2 d-flex">
                    <a class="text-grey-2 d-flex align-items-center my-3" href="{{ path('homepage') }}"><img
                                class="mr-sm-2"
                                src="/images/svg/ico_arrow_backward.svg"
                                alt="arrow">
                        <div class="d-none d-sm-block">zpět
                        na
                        Úvod</div></a>
                    <div class="mx-2 my-3 text-grey-2 d-flex align-items-center">/</div>
                    <a class="text-grey-2 d-flex align-items-center my-3" href="{{ path('category', {'categoryUrl' : category.url}) }}">{{category.name}}</a>
                    <div class="mx-2 my-3 text-grey-2 d-flex align-items-center">/</div>
                    <a class="text-grey-2 d-flex align-items-center my-3"
                       href="{{ path('subcategory', {'categoryUrl' : category.url, 'subCategoryUrl': subCategory.url}) }}">{{subCategory.name}}</a>
                </div>
            </div>

            <div class="col-sm-10 col-xl-4 offset-0 offset-sm-1 mb-5">
                <a href="{{ path('catalog') }}" class="btn btn-primary active rounded-0 catalog-item text-left">
                    <div class="catalog-item-text text-uppercase font-weight-bold">{{category.name}}</div>
                    <div class="ml-auto"><img src="/images/svg/ico_minus.svg" alt="plus"></div>
                </a>
                <div class="catalog-separator"></div>
                {% for otherCategory in subCategories %}
                    <a href="{{ path('subcategory', {'categoryUrl' : category.url, 'subCategoryUrl': otherCategory.url}) }}" class="btn btn-primary rounded-0 catalog-item text-left">
                        <div class="catalog-item-text ml-3 {{ subCategory.id == otherCategory.id ? 'active' }}">{{otherCategory.name}}</div>
                    </a>
                    <div class="catalog-separator"></div>
                {% endfor %}
                <a href="{{ path('catalog') }}" class="btn btn-grey-3 rounded-0 catalog-item text-left">
                    <div class="ml-2 mr-3"><img src="/images/svg/ico_arrow_backward_green.svg" alt="plus"></div>
                    <div class="catalog-item-text text-primary text-uppercase">Zpět na výpis</div>
                </a>
            </div>
            <div class="col-xl-5 col-sm-10 offset-sm-1">
                <div class="mb-5">
                    <h1 class="fs-35 text-primary">
                        Sortiment vybraných značek,<br>
                        který získáte v naší prodejně.
                    </h1>
                    <div class="text-grey-2">
                        Prodejna zdravotnických potřeb ZDRAVPO - PARDUBICE s.r.o. působí především v regionu Pardubický
                        kraj a své výrobky dodává obyvatelům v městech a obcích Pardubice, Chrudim, Přelouč.
                    </div>
                </div>
                <div>
                    <h2 class="fs-25">{{category.name}} - {{subCategory.name}}</h2>
                    <p>Detail produktů si můžete prohlédnout na oficiálních stránkách zastoupených výrobců. Stačí pouze
                        kliknout na logo výrobce.</p>
                    <div class="row">
                        {% for companyProduct in subCategory.companyProducts %}
                            <div class="col-sm-6 my-3">
                                <a href="{{companyProduct.link}}">
                                    <img class="w-100" src="{{ vich_uploader_asset(companyProduct.company, 'imageFile') }}" alt="{{ companyProduct.company.name }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
